<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133405745629-o9bduuk58kq5tl8an4cll283kkpe4a50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133405745629-o9bduuk58kq5tl8an4cll283kkpe4a50</string>
	<key>API_KEY</key>
	<string>AIzaSyAKZCSWxfZ7AV9hO1_ZRa9y9htX_FzL2bQ</string>
	<key>GCM_SENDER_ID</key>
	<string>133405745629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tecsup.iOSAppTemplate</string>
	<key>PROJECT_ID</key>
	<string>poketinder-56e2b</string>
	<key>STORAGE_BUCKET</key>
	<string>poketinder-56e2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133405745629:ios:e2a429882d4600cae81634</string>
</dict>
</plist>